/* 
    1.Position
    2.Box Model
    3.Fonts
    4.Visuals
    5.Extras

*/

:root{
    /* Colors */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --blue:#1A9AF7;
    --warm-blue:#E7F5FF;
    --warm-black: #201E1C;
    --black:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --white:#fff;
}
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans',sans-serif;
    scroll-behavior: smooth;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin: 40px auto;
    
    /* This line 👆 replaces this two */
    /* margin-top: 35px;
    align-self: center; */
}
.header__main-container{
    /* This width at 90% will give some space to the sides  */
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    align-self: center;
}
.header__main-container h1{
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--white);
}
.header__main-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__main-container .header__button{
    position: absolute;
    /* 👇 With this calc the button moves its left side to the middle of the container (50%) and then half its width is subtracted to center it*/
    left: calc(50% - 114.5px);
    /* 👇 With this calc the button moves its top side to the end of the container (100%) and then half its height is subtracted to center it*/
    top: calc(100% - 24px);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Adding shadow to the button */
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--warm-black);
}
.header__main-container .header__button span{
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 10px;
    background-image: url(./assets/icons/arrow-down-black.svg);
}
main{
    width: 100%;
    height: auto;
}
.main-exchange-container{
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: center;
    background-color: var(--off-white);

    /* .main__product-details{
        position: relative;
        width: 100%;
        min-width: 320px;
        height: auto;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: var(--warm-black);
    } */
}
.main-exchange-container__title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url(./assets/imgs/bitcoin.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-exchange-container__title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 24px;
    color:var(--black);
}
.main-exchange-container__title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 48px;
    color: #757575;
}
.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter',sans-serif;
}
.currency-table__title{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    margin-bottom: 12px;
    color: var(--bitcoin-orange);
    
}
.currency-table__container{
    width: 90%;
    min-width:230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency-table__container table{
    width: 100%;
    height: 100%;
}
.currency-table__container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight:500;
    line-height:1.9rem;
    color: var(--grey);
    background-color: var(--white);
}
.currency-table__container .table__top-left{
    border-radius: 15px 0 0 0;
}
.currency-table__container .table__top-right{
    border-radius: 0 15px 0 0;
}
.currency-table__container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table__container .table__bottom-right{
    border-radius: 0 0 15px 0;
}
.currency-table__container .table__right{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}
.currency-table__container .down{
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table__container .up{
    display: inline-block;
    width: 11px;
    height: 6px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table__date{
    width: 173px;
    height: 31px;
    margin: 0 auto;
    margin-top: 24px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table__date p{
    font-family: 'Inter',sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 8px;
}
.commissions-container{
    width: 70%;
    min-width: 235px;
    max-width:500px;
    height: 360px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Inter',sans-serif;
}
.commissions-container .commissions-container__title{
    font-family: 'DM Sans',sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color:var(--blue);
    margin-bottom: 12px;
}
.commissions-container .commissions-container__table{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    font-family: 'Inter',sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
}
.commissions-container__table table{
    width: 100%;
    height: 100%;
}
.commissions-container__table td{
    color: var(--grey);
    background-color:var(--white);
    width: 50%;
}
.commissions-container__table .table__top-left{
    border-radius: 15px 0 0 0 ;
}
.commissions-container__table .table__top-right{
    border-radius: 0 15px 0 0 ;
}
.commissions-container__table .table__bottom-left{
    border-radius: 0 0 0 15px ;
}
.commissions-container__table .table__bottom-right{
    border-radius:  0 0 15px 0 ;
}
.commissions-container__table .table__right{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.commissions-container__date{
    width: max-content;
    height: 31px;
    margin: 0 auto;
    margin-top: 24px;
    background-color: var(--warm-blue);
    border-radius: 8px;
}
.commissions-container__date .commissions-container__date__title{
    font-family: 'Inter',sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 8px;
}
.main__product-details{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.main__product-details .prodcut-details__logo{
    position: absolute;
    width: 40px;
    height: 24px;
    background-image: url(./assets/imgs/chip.svg);
    top: calc(0% - 12px);
    left: calc(50% - 20px);
}
.product-details__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.product-details__title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--white);
    margin-bottom: 24px;
}
.product-details__title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color:var(--grey);
    margin-bottom: 32px;
}

.card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.card .card-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card .clock{
    background-image: url(./assets/icons/clock.svg);
}
.card .eye{
    background-image: url(./assets/icons/eye.svg);
}
.card .dollar-sign{
    background-image: url(./assets/icons/dollar-sign.svg);
}
.card .check-mark{
    background-image: url(./assets/icons/check-cicle.svg);
}
.card .card__title{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--white);
    margin-bottom:10px;
}
.card .card__body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}
.main__background-img{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/imgs/bitcoin-girl-3x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.main__background-img p{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    padding-top: 60px;
    color: var(--white);
}
.main__pricing-container{
    width: 100%;
    min-width: 320px;
    background-color: var(--off-white);
    text-align: center;
    height: auto;
    padding-bottom: 64px;
}
.pricing-container__title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 50px;
}
.pricing-container__title h2{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 24px;
}
.pricing-container__title p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.pricing-container__slider{
    display: flex; 
    gap: 25px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /* padding:0 20px; */

}
.price-card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 200px;
    max-width: 300px;
    min-height: 250px;
    margin: 20px auto 50px;
    /* margin-top: 20px;
    margin-bottom: 50px; */
    background-color: var(--white)  ;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius:  8px;
    padding: 30px 16px 24px;
}
.price-card__best{
    position: absolute;
    display: inline-block;
    min-width: 100px;
    height: 30px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    top: calc(0% - 15px);
    left: calc(50% - 50px);
    padding: 8px;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;

}
.price-card__bill{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 8px;
}
.price-card__price{
    font-family: 'Inter',sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.2rem;
    margin-bottom: 16px;
}
.price-card__price span{
    font-family: 'Inder',sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    vertical-align: 3.0rem;
    margin-right: 5px;
}
.price-card__saving{
    font-family: 'Inter',sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: #757575;
    margin-bottom: 16px;
}
.price-card__cta{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    background-color: var(--off-white);
    padding:15px;
    border: solid 2px var(--bitcoin-orange);
    border-radius: 5px;
}
.price-card__cta .right-arrow{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/arrow-right-orange.svg);
    vertical-align: text-bottom;
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .footer__left-side ul{
    list-style: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
footer .footer__left-side ul li{
    margin: 8px 0;
}
footer .footer__left-side a{
    text-decoration: none;
}

